/.gradle
/.idea
/.gradle
/target
/build
/out
gradle.properties
/jxpacket-core/target
/jxpacket-core/build
/jxpacket-core/out
/jxpacket-core/.classpath
/jxpacket-core/.project
/jxpacket-core/.settings
/jxpacket-core/bin
/jxpacket-common/target
/jxpacket-common/build
/jxpacket-common/out
/jxpacket-common/.classpath
/jxpacket-common/.project
/jxpacket-common/.settings
/jxpacket-common/bin
/jxpacket-example/target
/jxpacket-example/build
/jxpacket-example/out
/jxpacket-example/.classpath
/jxpacket-example/.project
/jxpacket-example/.settings
/jxpacket-example/bin
/jxpacket-mt940/target
/jxpacket-mt940/build
/jxpacket-mt940/out
/jxpacket-mt940/.classpath
/jxpacket-mt940/.project
/jxpacket-mt940/.settings
/jxpacket-mt940/bin
/jxpacket-iso8583/target
/jxpacket-iso8583/build
/jxpacket-iso8583/out
/jxpacket-iso8583/.classpath
/jxpacket-iso8583/.project
/jxpacket-iso8583/.settings
/jxpacket-iso8583/bin
/.classpath
/.project
/.settings
/bin
*.log
*~
*.txt
*.iml
settings.xml
