/.gradle
/.idea
/.gradle
/target
/build
/out
/jxpacket-core/target
/jxpacket-core/build
/jxpacket-core/out
/jxpacket-common/target
/jxpacket-common/build
/jxpacket-common/out
/jxpacket-example/target
/jxpacket-example/build
/jxpacket-example/out
/jxpacket-mt940/target
/jxpacket-mt940/build
/jxpacket-mt940/out
/jxpacket-iso8583/target
/jxpacket-iso8583/build
/jxpacket-iso8583/out
*.log
*~
*.txt
*.iml
settings.xml
